a {
    text-decoration: none !important;
    font-weight: 600;
    color: black !important;
}

a:hover {
    text-decoration: none;
    font-weight: 600;
    color: #aaf277 !important;
}

li a:link {
    text-decoration: none;
    font-weight: 600;
    color: #aaf277;
}

li a:visited {
    text-decoration: none;
    font-weight: 600;
    color: white !important;
}

li a:hover {
    text-decoration: none;
    font-weight: 600;
    color: #aaf277 !important;
}

li a:active {
        text-decoration: none;
    font-weight: 600;
    color: #aaf277;
}



ul {
    list-style-type: none;
}

li {
    font-weight: 600;
}

#mainMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 700px;
    padding: 0;
}

th {
    padding: 15px;
}

.categoryItem {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px;
    height: 182px;
    width: 170px;

}

.categoryItem a:hover {
    text-decoration: none !important;
    font-weight: 600;
    color: #aaf277 !important;
    height: 182px;
    width: 112px;
}

.newsblockItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 295px;
    height: 345px;
    background-color: #aaf277;
}

.newsblockItem p {
    margin: 10px;
    text-align: left;
}

.button-buy {
    background-color: #aaf277;
}


.form_radio_btn {
	display: inline-block;
	margin-right: 10px;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid black;
	border-radius: 6px;
	user-select: none;
}
 
/* Checked */
.form_radio_btn input[type=radio]:checked + label {
	background: #aaf277;
}
 
/* Hover */
.form_radio_btn label:hover {
	color: #666;
}
 
/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}