/* для тех, кто будет редактировать в будущем --> теги прописаны не группой, потому что bootstrap забогавался на этом моменте и не читал группировку селекторов, 
пофиксить не смог, так что соре */
h1 {
    font-family: "RobotoMonoBold";
}
h2 {
    font-family: "RobotoMonoBold";
}
h3 {
    font-family: "RobotoMonoBold";
}
h4 {
    font-family: "RobotoMonoBold";
}
h5 {
    font-family: "RobotoMonoBold";
}
h6 {
    font-family: "RobotoMonoBold";
}

p {
    font-family: "RobotoMonoBold";
}

li {
    font-family: "RobotoMonoBold";
}

a {
    text-decoration: none !important;
    font-weight: 600;
    color: white !important;
    font-family: "RobotoMonoBold";
} 

a:link {
    text-decoration: none !important;
    font-weight: 600;
    color: white !important;
    font-family: "RobotoMonoBold";
}
a:visited {
    text-decoration: none !important;
    font-weight: 600;
    color: white ;
    font-family: "RobotoMonoBold";
}
a:hover {
    text-decoration: none !important;
    font-weight: 600;
    color: #aaf277 !important;
    font-family: "RobotoMonoBold";
}

.nav-link:link {
    text-decoration: none !important;
    font-weight: 600;
    color: white !important;
    font-family: "RobotoMonoBold";
}
.nav-link:visited {
    text-decoration: none !important;
    font-weight: 600;
    color: white !important;
    font-family: "RobotoMonoBold";
}
.nav-link:hover {
    text-decoration: none !important;
    font-weight: 600;
    color: #aaf277 !important;
    font-family: "RobotoMonoBold";
}
.nav-link:active {
    text-decoration: none !important;
    font-weight: 600;
    color: white !important;
    font-family: "RobotoMonoBold";
}


.categoryItem:link {
    text-decoration: none !important;
    font-weight: 600;
    color: black !important;
    font-family: "RobotoMonoBold";
}
.categoryItem:visited {
    text-decoration: none !important;
    font-weight: 600;
    color: black !important;
    font-family: "RobotoMonoBold";
}
.categoryItem:hover {
    text-decoration: none !important;
    font-weight: 600;
    color: #aaf277 !important;
    font-family: "RobotoMonoBold";
}
.categoryItem:active {
    text-decoration: none !important;
    font-weight: 600;
    color: black !important;
    font-family: "RobotoMonoBold";
}

#accept:link {
    text-decoration: none !important;
    font-weight: 600;
    color: black !important;
    font-family: "RobotoMonoBold";
}
#accept:visited {
    text-decoration: none !important;
    font-weight: 600;
    color: black !important;
    font-family: "RobotoMonoBold";
}
#accept:hover {
    text-decoration: none !important;
    font-weight: 600;
    color: #aaf277 !important;
    font-family: "RobotoMonoBold";
}
#accept:active {
    text-decoration: none !important;
    font-weight: 600;
    color: black !important;
    font-family: "RobotoMonoBold";
}



ul {
    list-style-type: none;
}

li {
    font-weight: 600;
}

#mainMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 700px;
    padding: 0;
}

th {
    padding: 15px;
}

.categoryItem {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px;
    height: 182px;
    width: 170px;

}

.newsblockItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 295px;
    height: 345px;
    background-color: #aaf277;
}

.newsblockItem p {
    margin: 10px;
    text-align: left;
}

.button-buy {
    background-color: #aaf277;
}


.form_radio_btn {
	display: inline-block;
	margin-right: 10px;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid black;
	border-radius: 6px;
	user-select: none;
}
 
/* Checked */
.form_radio_btn input[type=radio]:checked + label {
	background: #aaf277;
}
 
/* Hover */
.form_radio_btn label:hover {
	color: #666;
}
 
/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}

@font-face {
    font-family: "RobotoMonoBold";
    src: url(../fonts/RobotoMonoBold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}